.container.yoda-chat-content-container
    .row
        .col-sm-8.yoda-chat-main
            message(*ngFor="#message of messages", text="{{message.yodaText}}", author="{{message.author}}")

message-input((onSendMessage)="onSendMessage($event)")