.yoda-chat-message-input-container
    .container
        .input-group
            input.form-control(#message, type="text", placeholder="Your message...")
            span.input-group-btn
                button.btn.btn-secondary((click)="sendMessage(message.value)", type="button") Send