.yoda-chat-message-input-container
    .container
        .input-group
            input.form-control(type="text", placeholder="Your message...")
            span.input-group-btn
                button.btn.btn-secondary(type="button") Send