.yoda-chat-header {
  text-align: center;
  padding-top: 1rem;
  background-color: #f9f9f9;
}

.yoda-chat-title {
  margin-bottom: 0;
  font-size: 2rem;
  font-weight: normal;
}

.yoda-chat-description {
  font-size: 1.3rem;
  color: #999;
}

@media (min-width: 40em) {
  .yoda-chat-title {
    font-size: 3.5rem;
  }
}