div
    // Nav tabs
    ul.nav.nav-tabs(role='tablist')
        li.active(role='presentation')
            a(href='#home', aria-controls='home', role='tab', data-toggle='tab') Home
        li(role='presentation')
            a(href='#profile', aria-controls='profile', role='tab', data-toggle='tab') Profile
        li(role='presentation')
            a(href='#messages', aria-controls='messages', role='tab', data-toggle='tab') Messages
        li(role='presentation')
            a(href='#settings', aria-controls='settings', role='tab', data-toggle='tab') Settings
    // Tab panes
    .tab-content
        #home.tab-pane.active(role='tabpanel') Content...
        #profile.tab-pane(role='tabpanel') Content...
        #messages.tab-pane(role='tabpanel') Content...
        #settings.tab-pane(role='tabpanel') Content...